<?xml version="1.0"?>
<config>
    <modules>
        <Divante_LiveEditor>
            <version>0.1.0</version>
        </Divante_LiveEditor>
    </modules>
    <global>
        <models>
            <divante_liveeditor>
                <class>Divante_LiveEditor_Model</class>
                <resourceModel>divante_liveeditor_resource</resourceModel>
            </divante_liveeditor>
            <divante_liveeditor_resource>
                <class>Divante_LiveEditor_Model_Resource</class>
            </divante_liveeditor_resource>
        </models>
        <blocks>
            <divante_liveeditor>
                <class>Divante_LiveEditor_Block</class>
            </divante_liveeditor>
        </blocks>
        <helpers>
            <divante_liveeditor>
                <class>Divante_LiveEditor_Helper</class>
            </divante_liveeditor>
        </helpers>
        <resources>
            <divante_liveeditor_setup>
                <setup>
                    <module>Divante_LiveEditor</module>
                </setup>
            </divante_liveeditor_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <divante_liveeditor>
                    <file>divante_liveeditor.xml</file>
                </divante_liveeditor>
            </updates>
        </layout>
        <routers>
            <divante_liveeditor>
                <use>standard</use>
                <args>
                    <module>Divante_LiveEditor</module>
                    <frontName>liveeditor</frontName>
                </args>
            </divante_liveeditor>
        </routers>
    </frontend>
    <adminhtml>
        <default>
            <divante_liveeditor>
                <basic>
                    <enabled>1</enabled>
                    <toolbarenabled>1</toolbarenabled>
                    <positiontoolbar>1</positiontoolbar>
                </basic>
            </divante_liveeditor>
        </default>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <divante_liveeditor>
                        <type>model</type>
                        <class>Divante_LiveEditor_Model_Observer</class>
                        <method>addLiveEditButton</method>
                    </divante_liveeditor>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
</config>